# Backend Spring Boot
backend-springboot/target/
backend-springboot/.mvn/wrapper/maven-wrapper.jar
*.class

# Frontend Angular
frontend-angular/node_modules/
frontend-angular/dist/
frontend-angular/.angular/

# Entornos y secretos
.env
*.log

# IDEs
.idea/
.vscode/
*.iml
